
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 style="text-align:center;padding-right: 234px;">{{heading}}</h1>
            <div class="alert alert-danger" ng-show="errorFlag">
                {{errorMessage}}
            </div>            
            <div class="alert alert-success" ng-show="successFlag">
                {{successMessage}}
            </div>
            <form class="form-horizontal" name="myForm" ng-submit="createQueryString()">
                <div class="form-group" ng-repeat="titles in titlesArray">
                    <label for="title" class="control-label col-xs-2">Title</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" placeholder="" ng-model="titles.title">

                    </div>
                    <div class="form-group col-xs-2">
                        <a>
                            <span class="glyphicon glyphicon-plus"   ng-show="(titlesArray.length - 1) == $index" ng-click="addRemoveTitle(1,$index)"></span>
                            <span class="glyphicon glyphicon-minus"  ng-click="addRemoveTitle(2,$index)"></span>
                        </a>
                    </div>
                    <div class="form-group col-xs-3"></div>
                    <div class="form-group col-xs-6" ng-hide="(titlesArray.length-1) == $index">
                        <div class="col-xs-2">
                            <label>
                                <input type="radio" ng-model="titles.type" value="AND">
                                 AND
                            </label><br/>
                        </div>
                        <div class="col-xs-2">
                            <label>
                                <input type="radio" ng-model="titles.type" value="OR">
                                OR
                            </label><br/>
                        </div>
                        <div class="col-xs-2">
                            <label>
                                <input type="radio" ng-model="titles.type" value="NOT">
                                NOT
                            </label><br/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="company" class="control-label col-xs-2">Company</label>
                    <div class="col-xs-6">
                        <textarea name="company" rows="8" cols="40" class="form-control" ng-model="companies"></textarea>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Search</button>
                <div class="form-group">
                    <label for="company" class="control-label col-xs-2">Your Search:</label>
                    <div class="col-xs-6">
                        <textarea name="search" id="search"rows="8" cols="40" class="form-control" ng-model="queryString"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary" ng-click="copyFunction()">Copy</button>
                <button class="btn btn-primary" ng-click="save()">Save</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>