
<div class="container" style="margin-top: 300px;">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align: center">Welcome to LinkedIn Advance Tool</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-4">
                <a href="/auth/facebook"><button class="btn btn-primary">Facebook</button></a>
            </div>
            <div class="col-md-4">
                <a href="/auth/linkedin"><button class="btn btn-success">LinkedIn</button></a>
            </div>
            <div class="col-md-4">
                <a href="/auth/google"><button class="btn btn-danger">Google</button></a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>